@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  background-color: #212121;
}

.loading-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #000;
  z-index: 999;
}

.title {
  font-family: "Cutive Mono", monospace;
}

main {
  position: relative;
}

main h1.main--title {
  width: 525px;
  font-weight: 500;
  font-size: 4rem;
  z-index: 1;
  color: #20c20e;
  position: absolute;
  left: calc(50% - 250px);
  top: 35vh;
  text-align: center;
}


main h2 {
  font-size: 2rem;
  color: #168a0a;
}
